# Dependencies
node_modules/
package-lock.json

# Next.js
.next/
out/
build/
dist/

# Environment variables
.env
.env*.local

# Logs
logs/
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Vercel
.vercel
